.price-filter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-small;
    gap: 8px;

    >div{
        display: flex;
        align-items: center;
        gap: 2px;
        
    }


}