.cart-page {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 8px;
    
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .cart-items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 4px
    }
  
 
  }
  